@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bitter:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #70161E;
    
}

p, li {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color:white;
  background-color: #1C3144;
  font-size: larger;
}
hr {
    border: none;
    height: 2px; 
    background-color: #596F62;
    margin: 10px 0; /
}
button {
    background-color: #596F62;
    color: white;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: smaller;
    outline: none;
    width: 150px;
}
a, h1, h2, #numbers, #submit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
}

#nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#logo {
    grid-column: 1/2;
    width: 200px;
    padding: 0 0 0 75px;
    margin-top: 20px;
    margin-bottom: 0px;
    
}
nav {
    grid-column: 2/3;
    padding-bottom: 0px;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.links:hover {
    background-color: #596F62;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#home {
    padding-left: 50px;
    padding-right: 50px;
}
.links {
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-decoration: none;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    letter-spacing: 2px;

}
#hero {
    width: 100%;
    height: 90%;
    margin: auto;
    max-height: 600px;
    border-radius: 10px;
    box-shadow: 30px 30px 30px 30px #70161E inset;
  }

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#rating {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 100px;
    margin-bottom: 100px;
    align-content: center;
    margin-left: 40%;
    margin-right: 30%;
    
}
#intro {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    width: 80%;

}
#intro_2 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 50px;
    border-radius: 10px;
    width: 80%;
}
#view {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 40%;
    margin-right: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
    align-content: center;
}
footer {
    background-color: #1C3144;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-top: 25px;
}
.social {
    grid-column: 2/3;
    justify-self: center;
}
#copyright {
    grid-column: 1/2;
    font-size: small;
    padding-top: 15px;
    padding-left: 10px;
}
.icon {
    padding: 5px;
    border-radius: 10%;
}
 li {
    letter-spacing: 2px;
    line-height: 30px;
    list-style-type: none;
 }
 #search_full {
    text-align: center;
 }
#search {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    height: 35px;
}
#input_box {
    border-radius: 3px;
    height: 30px;
    width: 200px;
    margin-right: 0px;
    
}
#movie {
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
    padding: 40px;
    background-color: #1C3144;
    border: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #596F62;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#main_page1 {
    display:flex;
    flex-direction: column;

}
.poster {
    width:70%
}
#column_1 {
    grid-column: 1/2;
    text-align: center;
}
#ratings_filtered {
    grid-column: 2/3;
    margin: auto;
    text-align: left;
}
#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1C3144;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: #596F62;
    border-width: 3px;
}
#rate_form {
    grid-column: 2/3;
    margin-bottom: 40%;
    border: none;
    background-color: #1C3144;

}
#h1_page3 {
    grid-column: 1/2;
}
#categories {
    grid-column: 1/2;
    text-align: left;
    margin: auto;
    margin-top: 21px;
}
#numbers {
    grid-column: 2/3;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    letter-spacing: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #70161E;
    border-radius: 5px;

}
#what_movie {
    grid-column: 1/2;
    height: 50px;
    color: white;
    background-color: #70161E;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    border: none;
}
.li_page3 {
    line-height: 52px;
}
input[type="radio"] {
    width: 20px;
    height: 20px;
    accent-color: #596F62;
    margin: 8px;
    margin-top: 15px;
    margin-bottom: 15px;

}
#body3 {
    display: flex;
}
.no-spacing {
    letter-spacing: 0;
    }
#adventure {
    background-color: #70161E;
    border-radius: 10px 0px 0px 10px;
    border-style: solid;
    border-color: #596F62;
    border-width: 2px;
    border-right: none;
}
#gore-rating {
    background-color: #70161E;
    border-radius: 10px 0px 0px 10px;
    border-style: solid;
    border-color: #596F62;
    border-width: 2px;
    border-right: none;
}

#romance {
    background-color: #70161E;
    border-radius: 10px 0px 0px 10px;
    border-style: solid;
    border-color: #596F62;
    border-width: 2px;
    border-right: none;
}

#scary {
    background-color: #70161E;
    border-radius: 10px 0px 0px 10px;
    border-style: solid;
    border-color: #596F62;
    border-width: 2px;
    border-right: none;
}

#religous {
    background-color: #70161E;
    border-radius: 10px 0px 0px 10px;
    border-style: solid;
    border-color: #596F62;
    border-width: 2px;
    border-right: none;
}

#submit {
    grid-column: 1/3;
    text-align: center;
    font-size: medium;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    


}
@media screen and (max-width: 800px) {
    nav {
        display: none;
    }
    #rating {
        margin-right: 10px;
        margin-left: 10px;

    }
    #view {
        margin-left: 10px;

    }
    .icon {
        width: 30px;
    }
    #copyright {
        padding-top: 5px;
    }
    p {
        font-size: smaller;
    }
    #intro {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #intro_2 {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    li {
        font-size: x-small;
    }

    #ratings_filtered {
        padding: 0px;
    }
    #what_movie {
        width: 120px;
    }
  }
  @media screen and (max-width: 800px) {
    #movie {
        padding-left: 20px;
    }
  }

  @media screen and (max-width: 850px) {
    #categories {
        margin: 0;
        margin-top: 21px;
    }
    #h1_page3 {
        grid-column: 1/3;
        margin: auto;
        font-size: larger;
    }
    .li_page3 {
        font-size: medium;
        line-height: 77px;
    }
    #form {
    grid-template-columns: 40% 60%;
    }
    input[type="radio"] {
        width: 15px;
        height: 15px;
        margin: 6.5px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #numbers {
        letter-spacing: 8px;
        padding-left: 6px;
    }
  }
  @media screen and (max-width: 570px) {
    input[type="radio"] {
        width: 10px;
        height: 9px;
        margin: 3px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .li_page3 {
        font-size: x-small;
        line-height: 71px;
    }

    #numbers {
        letter-spacing: 5px;
        padding-left: 4px;
        font-size: x-small;
    }
    #categories {
        margin-top: 17px;
    }
    #h1_page3 {
        font-size: medium;
    }}
    @media screen and (max-width: 360px) {
        #numbers {
            letter-spacing: 5px;
            padding-left: 5px;
            font-size: xx-small;
        }
  }